*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
}

main{
    border: 1px solid #000;
    padding: 0.8em 1.5em;
    margin: 20px auto;
}
main h1{
    text-decoration: underline;
}
main p{
    line-height: 1.5em;
}